body{
    background-color: black;
    color:white;
    width: 90%;
    margin: 3px auto;
    text-align: center;
}

header{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profile{
    width: 100%;
    height: 400px;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    }
.profile img{
    display: block;
    width: 50%;
    max-width: 450px;
    min-width: 400px;
    height: 100%;
    border-radius:50%;
    object-fit:cover;/* Redimensiona a imagem para preencher o contêiner */
    object-position:center bottom;
} 
.textos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
}
.textos h1{
    font-family: "Dela Gothic One", sans-serif;
    color: white;
    opacity: 90%;
    text-shadow: 0 0 5px rgba(2, 2, 2, 0.411);

}
.textos span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.textos nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.textos nav img{
    width: 50px;
}
main{
  width: 100%;
  margin: 0 6.2%;

}
main section{
  width: 90%;
  padding: 0;
}
main .textos{
  margin-top: 30px;
  text-align: start;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
}

main .textos h1{
  margin-bottom:0;
  font-weight: 200;
  padding: 0;
  color: aliceblue;
  display: inline-block;
}
main .textos h2{
  padding: 0;
  position: relative;
  bottom:23px ;
  margin-top: 0;
  font-weight:bold;
  margin-bottom:8px ;
}
main .textos h3{
  margin-top: 0;
  font-size:x-large;
  font-weight:lighter;
}
#capacidades{
  font-size: larger;
  margin-top: 0;
  position: relative;
  bottom: 25px;
}

.carrossel-container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.carrossel{
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 20px;
  height: 350px;
  background-color: white;
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center; */
  
}
.slide{
  width: 100%;
  height: 350px;
  object-fit:cover;
  transition:transform ease 2000ms;
  transform: translateY(0);
}
.slide img{
  height: 100;
  
}

.btn-group{
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 30%;
  height: 2.3em;
  margin: 0.5em;
  background: white;
  color: #ee710a;
  border: none;
  border-radius: 0.625em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
 }
 
 button:hover {
  color: black;
 }
 
 button:after {
  content: "";
  background: #ee710a;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
 }
 
 button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
 }


#sobre{
  display: none;
  opacity: 0;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Box shadow */
  transition: opacity .5s ease, transform 0.5s ease, box-shadow 0.5s ease;
}

#sobre.show {
  margin-top: 60px; 
  padding: 20px;
  width: 83%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  border-radius: 20px;
  opacity: 1; /* Opacidade total */
  transform: translateY(0); /* Mostra a div */
  box-shadow: 0 0 20px rgba(253, 253, 253, 0.3); /* Box shadow modificado */
}
#sobre img{
  height: 350px;
  width: 50%;
  min-width: 314px;
  max-width: 450px;
  max-height: 350px;
  border-radius: 20px;
  margin-bottom: 20px;
}

#sobre span{
  font-size: medium;
  display: block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: justify;
  letter-spacing: 0.3cap;
}














@media (min-width: 1200px) {
    .profile{
    width: 50%;
    height: 600px;
    background: url(fotos/perfil.jpg) no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    border-radius: 40px;
}
    .profile>img{
        display: none;
    };
}
