body{
    background-color: black;
    color:white;
    width: 90%;
    margin: 3px auto;
    text-align: center;
}

header{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profile{
    width: 100%;
    height: 400px;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    }
.profile img{
    display: block;
    width: 50%;
    max-width: 450px;
    min-width: 400px;
    height: 100%;
    border-radius:50%;
    object-fit:cover;/* Redimensiona a imagem para preencher o contêiner */
    object-position:center bottom;
} 
.textos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
}
.textos h1{
    font-family: "Dela Gothic One", sans-serif;
    color: white;
    opacity: 90%;
    text-shadow: 0 0 5px rgba(2, 2, 2, 0.411);

}
.textos span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.textos nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.textos nav img{
    width: 50px;
}
main{
  width: 100%;
  margin: 0 6.2%;

}
main section{
  width: 90%;
  padding: 0;
}
main .textos{
  margin-top: 30px;
  text-align: start;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
}

main .textos h1{
  margin-bottom:0;
  font-weight: 200;
  padding: 0;
  color: aliceblue;
  display: inline-block;
}
main .textos h2{
  padding: 0;
  position: relative;
  bottom:23px ;
  margin-top: 0;
  font-weight:bold;
  margin-bottom:8px ;
}
main .textos h3{
  margin-top: 0;
  font-size:x-large;
  font-weight:lighter;
}
#capacidades{
  font-size: larger;
  margin-top: 0;
  position: relative;
  bottom: 25px;
}

.carrossel-container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.carrossel{
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 20px;
  height: 350px;
  background-color: white;
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center; */
  
}
.slide{
  width: 100%;
  height: 350px;
  object-fit:cover;
  transition:transform ease 2000ms;
  transform: translateY(0);
}
.slide img{
  height: 100;
  
}






















@media (min-width: 1200px) {
    .profile{
    width: 50%;
    height: 600px;
    background: url(fotos/perfil.jpg) no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    border-radius: 40px;
}
    .profile>img{
        display: none;
    };
}
