body{
    background-color: black;
    color:white;
    width: 90%;
    margin: 3px auto;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.26)

}
header{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profile{
    width: 100%;
    height: 400px;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    }
.profile img{
    display: block;
    width: 50%;
    max-width: 450px;
    min-width: 400px;
    height: 100%;
    border-radius:50%;
    object-fit:cover;/* Redimensiona a imagem para preencher o contêiner */
    object-position:center bottom;
} 
.textos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
}
.textos h1{
    font-family: "Dela Gothic One", sans-serif;
    color: white;
    opacity: 90%;
    text-shadow: 0 0 5px rgba(2, 2, 2, 0.411);

}
.textos span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.textos nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.textos nav img{
    width: 60px;
}
@media (min-width: 1200px) {
    .profile{
    width: 50%;
    height: 600px;
    background: url(fotos/perfil.jpg) no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    border-radius: 40px;
}
    .profile>img{
        display: none;
    };
}
